<p>Từ trên cao t nhìn xuống</p>
<strong>Helloooooooooooooooooooooo</strong>
<ul>
  
<!-- rails tag được viết trong thẻ như dưới--
  nó k cho comment thẻ rails-->
  <!-- xử lý và lấy dữ liệu như này -->
  <% @articles.each do |article| %>
    <li>
      <a href="<%= article_url(article) %>">
        <%= article.title %>
      </a>
    </li>
    <li>
      <%= article.body %>
    </li>
  <% end %>
  <%= link_to "New Article", new_article_path %>
  <!-- http://127.0.0.1:3000/articles/new -->
</ul>
